Repository 2011-nov02-net/mmp-project3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    displayName: node install
    inputs:
      versionSpec: 14.x
  - script: npm ci
    displayName: npm install
    workingDirectory: $(appDir)
  - script: npx ng build --prod
    displayName: ng build
    workingDirectory: $(appDir)
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    jobs:
    - job: build
      pool:
        vmImage: ubuntu-latest
      variables:
        sdkVersion: 5.x
        buildConfiguration: Release
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 2
        inputs:
          version: 2.0.x
          performMultiLevelLookup: true
  ...

testing deployed login
  sharkFin/src/app/app-routing.module.ts
  sharkFin/src/app/app.component.html
  sharkFin/src/app/app.module.ts
Due: azure-pipelines-1.yml

small change
  sharkFin/src/app/app.module.ts
Due: azure-pipelines-1.yml

add logging and error messages to status code 400 errors
  sharkFinApi/DataAccess/DataAccess.csproj
  sharkFinApi/DataAccess/Repositories/AssetRepository.cs
  sharkFinApi/DataAccess/Repositories/StockRepository.cs
  sharkFinApi/DataAccess/Repositories/TradeRepository.cs
  sharkFinApi/DataAccess/Repositories/UserRepository.cs
  sharkFinApi/Domain/Domain.csproj
  sharkFinApi/sharkFinApi/Controllers/AssetsController.cs
  sharkFinApi/sharkFinApi/Controllers/PortfoliosController.cs
  sharkFinApi/sharkFinApi/Controllers/StocksController.cs
  sharkFinApi/sharkFinApi/Controllers/TradesController.cs
  sharkFinApi/sharkFinApi/Controllers/UsersController.cs
  sharkFinApi/sharkFinApi/Program.cs
  sharkFinApi/sharkFinApi/Properties/ServiceDependencies/sharkfin-api - Web Deploy/profile.arm.json
  sharkFinApi/sharkFinApi/Startup.cs
  sharkFinApi/sharkFinApi/sharkFinApi.csproj
Due: azure-pipelines.yml

fix controller constructor
  sharkFinApi/XUnitTest/UsersControllerTest.cs
Due: azure-pipelines.yml

Finished and cleanup model test and repo test
  sharkFinApi/DataAccess/Repositories/PortfolioRepository.cs
  sharkFinApi/XUnitTest/AssetRepoTest.cs
  sharkFinApi/XUnitTest/PortfolioRepoTest.cs
  sharkFinApi/XUnitTest/TestSetup.cs
  sharkFinApi/XUnitTest/TradeRepoTest.cs
  sharkFinApi/XUnitTest/UserRepoTest.cs
  sharkFinApi/XUnitTest/UsersControllerTest.cs
  sharkFinApi/sharkFinApi/Properties/serviceDependencies.json
  sharkFinApi/sharkFinApi/Properties/serviceDependencies.local.json
  sharkFinApi/sharkFinApi/Startup.cs
Due: azure-pipelines.yml

added a bunch of front end functionality and connecting backend routes
  sharkFin/src/app/Models/asset.ts
  sharkFin/src/app/Models/portfolio.ts
  sharkFin/src/app/Models/stock.ts
  sharkFin/src/app/Models/user.ts
  sharkFin/src/app/app.component.html
  sharkFin/src/app/app.component.ts
  sharkFin/src/app/asset.service.spec.ts
  sharkFin/src/app/asset.service.ts
  sharkFin/src/app/home/home.component.html
  sharkFin/src/app/home/home.component.ts
  sharkFin/src/app/portfolio.service.ts
  sharkFin/src/app/portfolio/portfolio.component.html
  sharkFin/src/app/portfolio/portfolio.component.ts
  sharkFin/src/app/user.service.ts
  sharkFin/src/app/user/user.component.html
  sharkFin/src/app/user/user.component.ts
  sharkFin/src/environments/environment.prod.ts
  sharkFinApi/DataAccess/Repositories/StockRepository.cs
  sharkFinApi/DataAccess/Repositories/UserRepository.cs
  sharkFinApi/Domain/Interfaces/IStockRepository.cs
  sharkFinApi/sharkFinApi/Controllers/PortfoliosController.cs
  sharkFinApi/sharkFinApi/Controllers/StocksController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Structured controller test
  sharkFinApi/XUnitTest/UsersControllerTest.cs
Due: azure-pipelines.yml

Update UsersControllerTest.cs
  sharkFinApi/XUnitTest/UsersControllerTest.cs
Due: azure-pipelines.yml

Delete UserProfile.cs
  sharkFinApi/sharkFinApi/Profiles/UserProfile.cs
Due: azure-pipelines.yml

Added model test
  sharkFinApi/XUnitTest/PortfolioTest.cs
  sharkFinApi/XUnitTest/StockTest.cs
  sharkFinApi/XUnitTest/TradeTest.cs
  sharkFinApi/XUnitTest/UserTest.cs
Due: azure-pipelines.yml

fixed issues with portfolio component
  sharkFin/src/app/app-routing.module.ts
  sharkFin/src/app/portfolio/portfolio.component.html
Due: azure-pipelines-1.yml

test
  sharkFin/src/app/app-routing.module.ts
Due: azure-pipelines-1.yml

test
  sharkFin/src/app/app-routing.module.ts
  sharkFin/src/app/app.module.ts
Due: azure-pipelines-1.yml

Added User Controller Test
  sharkFinApi/XUnitTest/AssetTest.cs
  sharkFinApi/XUnitTest/UsersControllerTest.cs
Due: azure-pipelines.yml

Added Trade Controller Test
  sharkFinApi/XUnitTest/TradesControllerTest.cs
Due: azure-pipelines.yml

Added StockControllerTest and add more test on stockRepo
  sharkFinApi/XUnitTest/StocksControllerTest.cs
  sharkFinApi/XUnitTest/TestSetup.cs
Due: azure-pipelines.yml

Added portfolio controller test
  sharkFinApi/XUnitTest/PortfoliosContollerTest.cs
Due: azure-pipelines.yml

Added Asset Test
  sharkFinApi/XUnitTest/AssetRepoTest.cs
Due: azure-pipelines.yml

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: azure-pipelines-1.yml

Cleanup unused using
  sharkFinApi/DataAccess/Mapper.cs
  sharkFinApi/DataAccess/Repositories/AssetRepository.cs
  sharkFinApi/DataAccess/Repositories/PortfolioRepository.cs
  sharkFinApi/DataAccess/Repositories/StockRepository.cs
  sharkFinApi/DataAccess/Repositories/TradeRepository.cs
  sharkFinApi/Domain/Interfaces/IAssetRepository.cs
  sharkFinApi/Domain/Interfaces/IPortfolioRepository.cs
  sharkFinApi/Domain/Interfaces/IStockRepository.cs
  sharkFinApi/Domain/Interfaces/ITradeRepository.cs
  sharkFinApi/Domain/Interfaces/IUserRepository.cs
  sharkFinApi/Domain/Models/Asset.cs
  sharkFinApi/Domain/Models/Portfolio.cs
  sharkFinApi/Domain/Models/Stock.cs
  sharkFinApi/Domain/Models/Trade.cs
  sharkFinApi/Domain/Models/User.cs
  sharkFinApi/XUnitTest/AssetRepoTest.cs
  sharkFinApi/XUnitTest/AssetTest.cs
  sharkFinApi/XUnitTest/AssetsControllerTest.cs
  sharkFinApi/XUnitTest/PortfolioRepoTest.cs
  sharkFinApi/XUnitTest/PortfolioTest.cs
  sharkFinApi/XUnitTest/PortfoliosContollerTest.cs
  sharkFinApi/XUnitTest/StockRepoTest.cs
  sharkFinApi/XUnitTest/StockTest.cs
  sharkFinApi/XUnitTest/StocksControllerTest.cs
  sharkFinApi/XUnitTest/TestSetup.cs
  sharkFinApi/XUnitTest/TradeRepoTest.cs
  sharkFinApi/XUnitTest/TradeTest.cs
  sharkFinApi/XUnitTest/TradesControllerTest.cs
  sharkFinApi/XUnitTest/UserRepoTest.cs
  sharkFinApi/XUnitTest/UserTest.cs
  sharkFinApi/XUnitTest/UsersControllerTest.cs
Due: azure-pipelines.yml

maybe last
  sharkFin/src/app/app-routing.module.ts
  sharkFin/src/app/app.module.ts
  sharkFin/src/app/asset.service.ts
  sharkFin/src/app/home/home.component.html
  sharkFin/src/app/home/home.component.ts
  sharkFin/src/app/leaderboard/leaderboard.component.css
  sharkFin/src/app/leaderboard/leaderboard.component.html
  sharkFin/src/app/leaderboard/leaderboard.component.spec.ts
  sharkFin/src/app/leaderboard/leaderboard.component.ts
  sharkFin/src/app/portfolio.service.ts
  sharkFin/src/app/portfolio/portfolio.component.html
  sharkFin/src/app/portfolio/portfolio.component.ts
  sharkFin/src/app/user.service.ts
  sharkFin/src/app/user/user.component.html
  sharkFin/src/web.config
Due: azure-pipelines-1.yml

added web.config
  sharkFin/angular.json
  sharkFin/src/app/leaderboard/leaderboard.component.html
  sharkFin/src/app/leaderboard/leaderboard.component.ts
Due: azure-pipelines-1.yml

fixed color
  sharkFin/src/app/home/home.component.html
Due: azure-pipelines-1.yml

Update README.md
  README.md
Due: none

Path conditions:
  azure-pipelines-1.yml: any of: sharkFin, azure-pipelines-1.yml, but not: sharkFinApi, azure-pipelines.yml
  azure-pipelines.yml: any of: sharkFinApi, azure-pipelines.yml, but not: sharkFin, azure-pipelines-1.yml
